<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensor.mapper.AdminMapper">
    <select id="getAdminById" parameterType="int" resultType="admin">
        select * from admin where admin_id = #{id}
    </select>

    <insert id="insertAdmin" parameterType="admin">
        insert into admin(admin_id,password,email,state,code,nickname,infotablename) values (#{adminId},#{password},#{email},#{state},#{code},#{nickname},#{infotablename})
    </insert>
    <!--多个参数不知道怎么填写-->
    <update id="rePassword">
        update admin set password = #{password} where admin_id = #{admin_id}
    </update>

    <select id="getPasswd" parameterType="int">
        select password from admin where admin_id = #{admin_id}
    </select>

    <select id="getAdminByEmail" parameterType="String">
        select * from admin where email = #{email}
    </select>

    <delete id="deleteAdmin" parameterType="int">
        delete from admin where admin_id = #{admin_id}
    </delete>

    <update id="updateAdmin" parameterType="admin">
        update admin set password = #{password}, email = #{email}, state = #{state}, code = #{code},nickname = #{nickname}, infotablename = #{infotablename} where admin_id = #{admin_id}
    </update>
</mapper>
<!--xml实现一个注解器-->